.container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);

  }
  
  .box1 {
    grid-area: My Contact;
  }
  
  .box2 {
    grid-area: Contact Me;
  }
  
  
  .box3 {
    grid-area: h4;
  }