
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
  }
  
  h1 {
    font-size: 3rem;
    margin: 0;
    text-align: center;
    color: #0fbce7;
  }
  
  h2 {
    color: #0077c0;
    margin-top: 2em;
    text-align: center;
  }
  ol {
    list-style: none;
    counter-reset: goal-counter;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* responsive styles for mobile devices */
  
  @media (max-width: 640px) {

  
  }
  